html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-image: url("./images/Background_DS.jpg");
  background-repeat: repeat;
  background-attachment: scroll;
  background-size: 100% auto;
}

.page{
  height: 100vh;
}

.navbar {
  z-index: 1;
}

.navbar-scrolled {
  background-color: #fff !important;
  transition: background-color 500ms linear;
}

.navbar nav div {
  display: flex;
  flex: 1;
  justify-content: center;
  color: #000;
  text-align: center;
  align-items: center;
  padding: 14px 16px;
}

.navbar nav div a {
  display: flex;
  flex: 1;
  justify-content: center;
  color: #000;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navbar a:hover {
  background-size: 100px auto;
  background-repeat: no-repeat;
  background-position: center;
  color: #f2f2f2;
  opacity: 0.5;
}

.navbar div a.active {
  background-size: 100px auto;
  background-repeat: no-repeat;
  background-position: center;
  color: #f2f2f2;
}

.navbar .home a:hover {
  background-image: url("./images/brush-stroke-1.png");
}

.navbar .home a.active {
  background-image: url("./images/brush-stroke-1.png");
}

.navbar .ourpath a:hover {
  background-image: url("./images/brush-stroke-2.png");
}

.navbar .ourpath a.active {
  background-image: url("./images/brush-stroke-2.png");
}

.navbar .aboutus a:hover {
  background-image: url("./images/brush-stroke-3.png");
}

.navbar .aboutus a.active {
  background-image: url("./images/brush-stroke-3.png");
}

.navbar .feed a:hover {
  background-image: url("./images/brush-stroke-4.png");
}

.navbar .feed a.active {
  background-image: url("./images/brush-stroke-4.png");
}

.navbar .contact a:hover {
  background-image: url("./images/brush-stroke-5.png");
}

.navbar .contact a.active {
  background-image: url("./images/brush-stroke-5.png");
}

.navbar div.active a {
  color: #f2f2f2;
}

.inner-nav {
  display: flex;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

a:active {
  text-decoration: underline;
}

@media all and (max-width: 600px) {
  .inner-nav {
    flex-wrap: wrap;
    text-align: center;
  }

  .inner-nav > a {
    font-size: 15px;
    padding: 7px 3px;
  }
}

.inner-content {
  margin-top: 50px;
  align-items: center;
  justify-content: center;
}

.content-text {
  text-align: center;
}

.contact-text {
  justify-content: center;
  font-size: 20px;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.daosoft-logo {
  width: 40vw;
  height: auto;
}

.group-photo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.group-photo {
  width: 50vw;
  height: auto;
}

.insta-outer-container {
  display: flex;
  justify-content: center;
}

.insta-inner-container {
  width: 80vw;
  margin-top: 5vw;
}